body {
    background-image: url('../img/fondo_data.jpg');
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    justify-content: center;
    display: flex;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4f58d1;
  background: linear-gradient(90deg, rgb(129, 151, 230) 0%, rgb(79, 103, 209) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00e1ff;
    box-shadow: 0 0 60px rgba(0, 136, 255, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .button:hover::before, .button:focus::before {
    opacity: 1;
  }
  
  .button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00aaff;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .button:hover::after, .button:focus::after {
    animation: none;
    display: none;
  }

.boton_brr {
    color: #3e41db;
    border: 6px solid #3e41db;
    border-radius:15px;
    padding: 15px 25px;
    font-size: 17px;
    font-family: tahoma;
    letter-spacing:5px;
    cursor: pointer;
    font-weight: bold;
    filter: drop-shadow(0 0 15px #3e41db) drop-shadow(0 0 50px #3e41db) contrast(2) brightness(2);
    transition: .5s;
    margin: 10px;
    text-align: center;
    justify-content: center;
  }
  
  .boton_brr:hover {
    color: black;
    background-color: #3e41db;
    filter: drop-shadow(0 0 20px #3e41db) contrast(2) brightness(2);
  }

