<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <title>Página principal</title>
</head>
<body>
    <h1>Aquí se crearán todas las opciones de BRR</h1>
    <img src="../../static/imagen.png" alt="imagen">
    <p>Empezando...</p>
    <h2>Prueba de formulario</h2>
    <form method="GET" class="post-form" action="post">{% csrf_token %}
        {{ form.as_p }}
        Repo a analizar: <input type="text" name="text" id="text"> <br>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
</body>
</html>