<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../static/js/datos.js"></script>
    <title>Seguimos probando</title>
</head>
<body onload="main();">
    <p id="botones">
        <button id="mostrar-comunidad">Mostrar pestaña de comunidad</button>
        <button id="mostrar-seguridad">Mostrar pestaña de seguridad</button>
        <button id="mostrar-funcionalidad">Mostrar pestaña de funcionalidad</button>
        <button id="mostrar-soporte">Mostrar pestaña de soporte</button>
        <button id="mostrar-calidad">Mostrar pestaña de calidad</button>
        <button id="mostrar-usabilidad">Mostrar pestaña de usabilidad</button>
    </p>
    <div id="content-community">
        <h1>COMUNIDAD:</h1>
        {% for key, value in post.items %}
            {% if key == 'languages' %}
                <p>Lenguajes utilizados: <input type="text" value="{{ value }}"><br>
            {% elif key == 'commits' %}
                    <p>Número de commits: <input type="text" value="{{ value }}"><br></p>
            {% elif key == 'wiki' %}
                {% if value == True %}
                    <p>¿Tiene wiki?: <input type="radio" value="Sí" name="wiki" checked> Sí <input type="radio" value="No" name="wiki"> No<br></p>
                {% else %}
                    <p>¿Tiene wiki?: <input type="radio" value="Sí" name="wiki"> Sí <input type="radio" value="No" name="wiki" checked> No<br></p>
                {% endif %}
            {% elif key == 'forks' %}
                <p>Número de forks: <input type="text" value="{{ value }}"><br></p>
            {% elif key == 'subscribers' %}
                <p>Número de suscriptores: <input type="text" value="{{ value }}"><br></p>
            {% elif key == 'organization' %}
                <p>¿Pertenece a una organización?<br>
                {% if value == 'None' %}
                    <input type="radio" value="Sí" name="organization"> Sí  <input type="text" placeholder="Nombre de la organización">
                    <input type="radio" value="No" name="organization" checked> No<br></p>
                {% else %}
                    <input type="radio" value="Sí" name="organization" checked> Sí <input type="text" value="{{ value }}">
                    <input type="radio" value="No" name="organization"> No<br></p>
                {% endif %}
            {% elif key == 'lastUpdate' %}
                    <p>Última actualización: 
                        <input type="date" id="start" name="update" value="{{ value }}" min="2001-01-01" max="{{ now }}"></p>
            {% else %}
                    <p>{{ value }}</p>
            {% endif %}
        {% endfor %}
    </div>

    <div id="content-security">
        <h1>SEGURIDAD:</h1>
        {% for key, value in post_sec.items %}
            {% if key == 'license' %}
                    {% if value == 'Sí' %}
                        <p>Licencia: <input type="radio" value="Sí" name="license" checked> Sí <input type="radio" value="No" name="license"> No</p><br>
                    {% else %}
                        <p>Licencia: <input type="radio" value="Sí" name="license"> Sí <input type="radio" value="No" name="license" checked> No</p><br>
                    {% endif %}
            {% elif key == 'viewers' %}
                <p>Personas que han visto este repositorio: <input type="text" value="{{ value }}"><br></p>
            {% elif key == 'downloads' %}
                {% if value == 'Sí' %}
                    <p>¿Tiene descargas?: <input type="radio" value="Sí" name="downloads" checked> Sí <input type="radio" value="No" name="downloads"> No</p><br>
                {% else %}
                    <p>¿Tiene descargas?: <input type="radio" value="Sí" name="downloads"> Sí <input type="radio" value="No" name="downloads" checked> No</p><br>
                {% endif %}
            {% elif key == 'issues' %}
                <p>¿Tiene problemas abiertos?<br>
                    {% if value == 'No' %}
                        <input type="radio" value="Sí" name="issues"> Sí  <input type="text" placeholder="Número de problemas">
                        <input type="radio" value="No" name="issues" checked> No<br></p>
                    {% else %}
                        <input type="radio" value="Sí" name="issues" checked> Sí <input type="text" value="{{ issues }}">
                        <input type="radio" value="No" name="issues"> No<br></p>
                    {% endif %}
            {% else %}
                <p>{{ value }}</p>
            {% endif %}
        {% endfor %}
    </div>

    <div id="content-funcionality">
        <h1>FUNCIONALIDAD:</h1>
        {% for key, value in post_func.items %}
            {% if key == 'size' %}
                <p>Tamaño: <input type="text" name="size" value="{{ value }}">KB</p>
            {% elif key == 'template' %}
                {% if value == 'Sí' %}
                    <p>¿Es una plantilla?:<input type="radio" value="Sí" name="template" checked> Sí <input type="radio" value="No" name="template"> No</p><br>
                {% else %}
                    <p>¿Es una plantilla?:<input type="radio" value="Sí" name="template"> Sí <input type="radio" value="No" name="template" checked> No</p><br>
                {% endif %}
            {% elif key == 'projects' %}
                {% if value == 'Sí' %}
                    <p>¿Tiene proyectos asociados?: <input type="radio" value="Sí" name="projects" checked> Sí <input type="radio" value="No" name="projects"> No</p><br>
                {% else %}
                    <p>¿Tiene proyectos asociados?: <input type="radio" value="Sí" name="projects"> Sí <input type="radio" value="No" name="projects" checked> No</p><br>
                {% endif %}
            {% else %}
                <p>{{ value }}</p>
            {% endif %}
        {% endfor %}
    </div>

    <div id="content-support">
        <h1>SOPORTE:</h1>
        {% for key, value in post_supp.items %}
            {% if key == 'wiki' %}
                {% if value == 'Sí' %}
                    <p>¿Tiene wiki?:<input type="radio" value="Sí" name="wiki" checked> Sí <input type="radio" value="No" name="wiki"> No</p><br>
                {% else %}
                    <p>¿Tiene wiki?:<input type="radio" value="Sí" name="wiki"> Sí <input type="radio" value="No" name="wiki" checked> No</p><br>
                {% endif %}
            {% elif key == 'homepage' %}
                {% if value == 'None' %}
                    <input type="radio" value="Sí" name="homepage"> Sí  <input type="text" placeholder="URL homepage">
                    <input type="radio" value="No" name="homepage" checked> No<br></p>
                {% else %}
                    <input type="radio" value="Sí" name="homepage" checked> Sí <input type="text" value="{{ value }}">
                    <input type="radio" value="No" name="homepage"> No<br></p>
                {% endif %}
            {% else %}
                <p>{{ value }}</p>
            {% endif %}
        {% endfor %}
    </div>

    <div id="content-quality">
        <h1>CALIDAD:</h1>
        {% for key, value in post_qual.items %}
            {% if key == 'followers_owner' %}
                <p>Seguidores del dueño del repositorio: <input type="text" name="followers_owner" value="{{ value }}"></p>
            {% elif key == 'n_repos' %}
                <p>Número de repositorios del dueño del repositorio: <input type="text" name="n_repos" value="{{ value }}"></p>
            {% elif key == 'followers_org' %}
                <p>Seguidores de la organización: <input type="text" name="followers_org" value="{{ value }}"></p>
            {% elif key == 'n_repos_org' %}
                <p>Número de repositorios de la organización: <input type="text" name="n_repos_org" value="{{ value }}"></p>
            {% else %}
                <p>{{ value }}</p>
            {% endif %}
        {% endfor %}
    </div>

    <div id="content-usability">
        <h1>USABILIDAD:</h1>
        {% for key, value in post_usab.items %}
            {% if key == 'num_languages' %}
                <p>Número de lenguajes utilizados: <input type="number" id="num_languages" min="0" max="10" value="{{ value }}"></p>
            {% elif key == 'readme' %}
                {% if value == 'Sí' %}
                    <p>¿Tiene README?:<input type="radio" value="Sí" name="readme" checked> Sí <input type="radio" value="No" name="readme"> No</p><br>
                {% else %}
                    <p>¿Tiene README?:<input type="radio" value="Sí" name="readme"> Sí <input type="radio" value="No" name="readme" checked> No</p><br>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>